.navbar {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: #fff;
    overflow: hidden;
    top: 0; 
    width: 100%; 
    font-size: 1.7ch;
  }
  

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-icons {
    display: flex;
    gap: 20px;
  }
  