.product-details img {
    max-height: 70vh; 
    width: 50vh; 
  }

.product-container {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.details-container {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .product-container {
    flex-direction: row;
  }

  .details-container {
    margin-left: 20px;
    width: 50%;
  }
}


.back,
.back *,
.back :after,
.back :before,
.back:after,
.back:before {
    border: 0 solid;
    box-sizing: border-box;
  }
.back {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
  }
.back:disabled {
    cursor: default;
  }
.back:-moz-focusring {
    outline: auto;
  }
.back svg {
    display: block;
    vertical-align: middle;
  }
.back [hidden] {
    display: none;
  }
.back {
    --neon: #0ea5e9;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    outline: 4px solid #fff;
    outline-offset: -4px;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    text-transform: uppercase;
    transition: 0.1ms linear 0.1ms;
  }
.back:hover {
    background: var(--neon);
    box-shadow: 0 0 5px var(--neon), 0 0 25px var(--neon), 0 0 50px var(--neon),
      0 0 100px var(--neon);
    color: #fff;
    outline-color: transparent;
    transition: 0.1ms linear 0.3ms;
  }
.back span {
    display: block;
    inset: 0;
    position: absolute;
  }
.back .top {
    border-top: 4px solid var(--neon);
    opacity: 0;
    transform: translateX(calc(-100% + var(--progress, 0%)));
    transition: none;
  }
.back:hover .top {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.1ms linear;
  }
.back .right {
    border-right: 4px solid var(--neon);
    opacity: 0;
    transform: translateY(calc(-100% + var(--progress, 0%)));
    transition: none;
  }
.back:hover .right {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.1ms linear 0.1ms;
  }
.back .bottom {
    border-bottom: 4px solid var(--neon);
    opacity: 0;
    transform: translateX(calc(100% - var(--progress, 0%)));
    transition: none;
  }
.back:hover .bottom {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.1ms linear 0.1ms;
  }
.back .left {
    border-left: 4px solid var(--neon);
    opacity: 0;
    transform: translateY(calc(100% - var(--progress, 0%)));
    transition: none;
  }
.back:hover .left {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.1ms linear 0.1ms;
  }
  
